<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Title -->
  <title>
    {{- if not .IsHome }}
    {{- if eq .Kind "page" }}{{ .Title }}
    {{- else if eq .Data.Singular "tag" }}{{ .Data.Term }}
    {{- else }}Posts
    {{- end }} | {{ end }}
    {{- .Site.Title -}}
  </title>
  <!-- Meta -->
  {{- if eq .Kind "page" }}
  <meta name="description" content="{{ .Summary }}">
  <meta name="author" content="{{ .Params.author | default .Site.Params.author }}">
  {{ else }}
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="author" content="{{ .Site.Params.author }}">
  {{ end -}}
  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet">
  <!-- Generator -->
  <meta name="generator" content="Hugo {{ hugo.Version }}">
  <!-- RSS -->
  {{ if .Site.Params.rss }}
    {{ with .OutputFormats.Get "RSS" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
  {{ end }}
</head>
<body class="{{if eq .Kind `page` }}single{{else}}list{{end}}">
  <header class="header">
    {{ if .IsHome }}
    <h1 class="title"><a href="{{ `/` }}">{{ .Site.Title }}</a></h1>
    {{ else }}
    <p class="title"><a href="{{ `/` }}">{{ .Site.Title }}</a></p>
    {{ end }}
    {{ if .Site.Params.rss }}
      {{ with .OutputFormats.Get "RSS" }}
        <a href="{{ .RelPermalink }}" title="RSS" data-no-instant>
        <span class="fa-stack fa-lg">
          <i class="fa fa-rss fa-stack-1x"></i>
        </span>
        </a>
      {{ end }}
    {{ end }}
  </header>
  <main class="main">
